.header-background {
  background-image: url(./Pictures/Die-Höhle-der-Löwen-Jury-800x450.jpg);
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  background-color: coral;
}

h1 {
  color: grey;
  padding: 2vh 0;
}

h2 {
  color: grey
}

.margin {
  margin: 20px 
}

.button {
  width: 200px;
  height: 50px
}

